# Backend ignores
__pycache__/
*.py[cod]
instance/
.env

# Frontend ignores
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.cache/

# Logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Miscellaneous
frontend/.DS_Store
frontend/.eslintcache
frontend/*.log
