# Backend ignores
__pycache__/
*.py[cod]
*.env
instance/

# Poetry files
poetry.lock
migrations/

# Frontend ignores
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/Editor files
.vscode/
.idea/
*.swp
.DS_Store

# Miscellaneous
*.log
coverage/
